name: $(semanticVersion)-build$(rev:rrr)

trigger:
  - master

pool: default

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
  - stage: 'BuildSandbox'
    displayName: 'Build the sandbox projects'
    jobs: 
      - job: 'Build'
        variables:
          solution: 'src/Sandbox.sln'
        
        steps:
          - task: NuGetToolInstaller@1

          - task: CmdLine@2
            inputs:
              script: |
                echo  'Default Working Directory: $(System.DefaultWorkingDirectory)'
                echo  'Pipeline Workspace: $(Pipeline.Workspace)'
                dir
            displayName: Show working directory

          - task: NuGetCommand@2
            inputs:
              restoreSolution: '$(solution)'

          - task: VSBuild@1
            inputs:
              solution: '$(solution)'
              platform: '$(buildPlatform)'
              configuration: '$(buildConfiguration)'

          - task: VSTest@3
            inputs:
              platform: '$(buildPlatform)'
              configuration: '$(buildConfiguration)'
              codeCoverageEnabled: false
              diagnosticsEnabled: false

  - stage: 'BuildDemo'
    displayName: 'Build the demo projects'
    jobs: 
      - job: 'Build'
        variables:
          solution: 'demo/Cors/Cors.slnx'
        
        steps:
          - task: NuGetToolInstaller@1

          - task: CmdLine@2
            inputs:
              script: |
                echo  'Default Working Directory: $(System.DefaultWorkingDirectory)'
                echo  'Pipeline Workspace: $(Pipeline.Workspace)'
                dir
            displayName: Show working directory

          - task: NuGetCommand@2
            inputs:
              restoreSolution: '$(solution)'

          - task: VSBuild@1
            inputs:
              solution: '$(solution)'
              platform: '$(buildPlatform)'
              configuration: '$(buildConfiguration)'
